@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Codetributor</h1>
    <p>Codetributor is a Discord bot that verifies a member's commits on GitHub and assign a role to them.</p>
    <p>Made using C#, ASP.NET Core and DSharpPlus.</p>
</div>
